<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BackPackers Feed</title>
</head>

<body>
    <h1>Stamps Feed</h1>
    {% for stamp in object_list %}
    <h2>{{stamp.title}}</h2>
    <img src="{{ stamp.image.url }}" alt="{{ stamp.title }}" style="max-width: 300px;"/>
    <p>{{stamp.location}}</p>
    <p>{{stamp.country.name}}</p>
    <p>by {{stamp.user}}</p>
    {% endfor %}
</body>

</html>